@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    --stone900: #312E2C;
    --stone600: #5F564D;
    --stone150: #E3DDD7;
    --stone100: #F3E5D7;
    --brown800: #854632;
    --youngserif: 'Young Serif', serif;
    --outfit: 'Outfit', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

c